<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Talal Ahmed. It uses WeatherBit API and MapBox API.</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>

</html>